<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page not found</title>
    <link href="/output.css" rel="stylesheet">
</head>

<body class="min-h-screen bg-gray-100 flex flex-col items-center justify-center gap-5">

    <h1 class="text-5xl font-bold text-gray-800">
        404
    </h1>

    <p class="text-xl text-gray-600">
        Page Not Found
    </p>

    <a href="/"
        class="rounded-full bg-amber-600 px-6 py-3 font-semibold text-white shadow-md transition hover:bg-amber-700 hover:scale-105">
        Go Home
    </a>

</body>

</html>